[submodule "src/PropertyHook"]
	path = src/PropertyHook
	url = https://github.com/Nordgaren/PropertyHook.git
	branch = Original
[submodule "src/SoulsFormats"]
	path = src/SoulsFormats
	url = https://github.com/Nordgaren/SoulsFormats.git
	branch = er
